<div>
<div id="search-container" class=" flex items-center justify-center mt-[20px] gap-[10px] relative">
    <input type="text" class="px-[25px] py-[5px] rounded-md " placeholder="Search for a product..">
    <button class="text-darkblue font-semibold text-[17px] border-2 py-[2px] px-[5px] hover:bg-darkblue hover:text-[whitesmoke] transition-all duration-150 border-darkblue rounded-md">search </button>
    <i id="icon-times" class="fa fa-times text-darkblue absolute top-[10px] right-[10px] text-[25px] opacity-0"></i>
</div>
<div id="icon-search" class="absolute top-[80px] right-[50px] text-darkblue text-[17px]  opacity-0">
    <i class="fa fa-search"></i>
</div>
</div>
