<!-- <ng-container *ngIf="(breadCrumb$ | async) as breadCrumbs">
    <section *ngIf="breadCrumbs.length > 0 && breadCrumbs[breadCrumbs.length-1].label !=='Home'" class="py-5 mt-[100px] bg-sensualMedium">
        <div>
            <div class="flex items-center justify-evenly">
                <div>
                    <h1 class="text-2xl text-sensualdark2 capitalize font-semibold">
                        {{breadCrumbs.length > 0 && breadCrumbs[breadCrumbs.length - 1].label}}
                    </h1>
                </div>
                <div class="bg-sensualLight2 py-1 px-6 rounded-md">
                    <xng-breadcrumb class="text-sensualdark3 text-[19px] ">
    
                    </xng-breadcrumb>
                </div>
            </div>
        </div>
    
    </section>
</ng-container> -->
