<div class="flex items-center justify-center flex-col mt-10 px-12">
<h1 class="text-2xl text-sensualdark2 font-[500]" >Internal Server error - <small> refreshing the page will make the error go away. </small></h1>
<div class="mt-5 bg-sensualLight1  rounded-lg py-10 px-16 text-sensualdark2 font-[600] capitalize " >
<p class="text-sensualdark3">Angular is not responsible </p>
<p class="text-sensualdark3">Talk to your backend developer!!</p>
<p class="border-b-2 border-sensualdark2 w-[100px]">Alternatively</p>
<ol class="text-sensualdark3">
    <li>>  Open chrome dev tools</li>
    <li>> Inspect the network tab</li>
    <li>> Check the failing requests</li>
    <li>> Examine the request Url and make sure it is correct</li>
</ol>
<code class="bg-sensualLight2 mt-5">
    <i class="fa fa-times"></i>
    <small>
        {{error?.details}}
    </small>
    
</code>
</div>
</div>