<div *ngIf="(basket$ | async) === null">
    <h1>Oooops!!!</h1>
    <p>There seems to be no items in the basket add some items</p>
</div>


<div *ngIf="(basket$ | async) as basket">
    <div class="pb-5">
        <app-basket-summary
        (decrement)="decrementItemQuantity($event)"
        (increment)="decrementItemQuantity($event)"
        (remove)="removeBasketItem($event)"
        >
       
        </app-basket-summary>
    </div>
<div class="flex items-center justify-center flex-col">
    <app-order-totals></app-order-totals>
    <a routerLink="/checkout" class="border-2 border-sensualdark2 text-sensualdark2 p-2 hover:bg-sensualMedium duration-200 hover:text-blue rounded-md">Proceed to checkout</a>
</div>
</div>
