
<div class="">
    <div class="py-6 px-8 w-full flex items-start justify-start flex-col bg-sensualLight2">
        <img src="../../../assets/phoneicon.png" alt="Phones" class="md:w-[240px] w-[150px] h-auto p-2 bg-[coral] rounded-full opacity-50" >
        <h1 class="text-2xl text-sensualdark2 font-semibold">#Grab the new trendy phones & tablets from us</h1>
    </div>
<ul class="flex items-center justify-center flex-wrap mx-[10px] gap-4  mt-[40px]"> 
    <li *ngFor="let product of products" class="bg-sensualLight1 shadow relative shadow-sensualMedium rounded-md ">
        <app-product-item [product]="product" ></app-product-item>
    </li>
</ul>
</div>