<div class="bg-sensualMedium">
<div class="mt-8 flex text-blue flex-wrap opacity-80 items-start justify-evenly   py-[25px]">
    <div>
        <span> <h1 class="text-blue text-[20px] font-semibold ">Price <span class="text-[coral]">Point</span> </h1></span>
        <span class="text-gray-900">
            <h1 class="text-[18px]">Our Socials</h1>
            <div class="flex text-2xl mt-3 items-center cursor-pointer justify-between">
                <i class="fa-brands  duration-300 hover:scale-110 fa-facebook"></i>
                <i class="fa-brands fa-instagram hover:scale-110 duration-300"></i>
                <i class="fa-brands fa-whatsapp hover:scale-110 duration-300"></i>
            </div>
        </span>
       
    </div>
    <div>
        <h1 class="border-b-2 border-gray-700">Types</h1>
        <span class="flex flex-col text-gray-900">
            <a href="/shop/types/audio-products">Audio</a>
            <a href="/shop/types/gaming-products">Gaming</a>
            <a href="/shop/types/phone-products">Phones & Tablets</a>
            <a href="/shop/types/computer-products">Computers</a>
            <a href="/shop/types/television-products">Televisions</a>
        </span>
    </div>
    <div>
        <h1 class="border-b-2 border-gray-700">Brands</h1>
        <span class="flex flex-col text-gray-900">
            <a href="/shop">Microsoft</a>
            <a href="/shop">JBL</a>
            <a href="/shop">Sony</a>
            <a href="/shop"></a>
            <a href="/shop">Others</a>
        </span>
    </div>
    <div class="w-[200px]">
        <h1 class="border-b-2 border-gray-700">Location</h1>
        <p>No physical address since it is not a real shop</p>
    </div>
</div>
<div class="text-center text-gray-900">
<p>&#64;Developed by Burky </p>
</div>
</div>