@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shadow-1 {
    box-shadow:0px 10px 15px rgba(0,0,0,0.1);
  }

input{
    outline: none;
}
body{
    margin: 0;
    height: 100vh;
    background:#d9dedb ;
    color: white;
    font-family: 'Rubik';
}

/* label.xng-breadcrumb-trail{
    border-bottom: 2px solid #050505;
    color: #050505;
}
.xng-breadcrumb-separator{
    padding: 0 0;
} */
/* @media screen and (max-width: 770px)
{
    #icon-search{
        opacity: 90;
        cursor: pointer;
    }
    #icon-times
    {
        cursor: pointer;
        opacity: 90; 
    }

    #search-container{
        transform: translateY(-400%);
        background: #fff;
        block-size: 100px;
        margin: 0 100px;
        border-radius: 5px;
       transition: all 0.5s ease-in;
    }
    #search-container.toggle
    {
        transform: translateY(0%);
    }
    #search-container input{
        background: #d9dedb;
        
    }
} */